.main_chat
  .main_chat__top
    .main_chat__top__group
      = @group.name
      .main_chat__top__group__member
        Menber :
        - @group.users.each do|user|
          = user.name 
    .main_chat__top__edit
      = link_to 'Edit', edit_group_path(@group), class: 'edit_btn'
      
  .main_chat__center
    = render @messages
  
  .main_chat__bottom
    = form_for [@group, @message] do |f|
      .main_chat__bottom__message
        = f.text_field :content, class:'main_chat__bottom__message__box', placeholder: ' type a message'
        = f.label :image, class: 'main_chat__bottom__message__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'main_chat__bottom__message__image__hidden'
      = f.submit 'Send', class: 'main_chat__bottom__send_btn'
